<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Saasu.API.Core.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Saasu.API.Client.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
	
  <sectionGroup name="ola.restclient">
			<section name="proxySettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup></configSections>
  <applicationSettings>
	  <Saasu.API.Client.Config>
		  <setting name="BaseUri" serializeAs="String">
			  <value>https://api.saasu.com/</value>
		  </setting>
		  <setting name="WsAccessKey" serializeAs="String">
			  <value>YourAccessKey</value>
		  </setting>
		  <setting name="FileUid" serializeAs="String">
			  <value>0</value>
		  </setting>
      <setting name="IgnoreSSLErrors" serializeAs="String">
        <value>false</value>
      </setting>
    </Saasu.API.Client.Config>
  </applicationSettings>
	<ola.restclient>
		<proxySettings>
      
      
      
			<add key="apiUserEmailAddress" value="youremail" />
      <!-- The settings below only used for tests -->
			<add key="MerchantFeeAccountUid" value="0" />
			<add key="IncTaxTemplateUid" value="0" />
			<add key="ShippingTemplateUid" value="0" />
    <add key="baseUri" value="https://secure.saasu.com/webservices/rest/r1/" /><add key="wsAccessKey" value="{your-access-key-here}" /><add key="fileUid" value="{your-file-id}" /></proxySettings>
	</ola.restclient>
  <appSettings>
    <add key="FileUid" value="0" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  </configuration>