<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Saasu.API.Core.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Saasu.API.Client.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
	<sectionGroup name="ola.restclient">
		<section name="proxySettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</sectionGroup>
  </configSections>
  <applicationSettings>
	  <!-- Live: Js Test File. -->
	  <!--<Saasu.API.Client.Config>
      <setting name="BaseUri" serializeAs="String">
        <value>https://api.saasu.com/</value>
      </setting>
      <setting name="WsAccessKey" serializeAs="String">
        <value>F1CAA0AE62474D6B938E82EB44EB005A</value>
      </setting>
      <setting name="FileUid" serializeAs="String">
        <value>13779</value>
      </setting>
    </Saasu.API.Client.Config>-->
	  
	  <!-- NOT DEPLOYED YET. -->
    <!--<Saasu.API.Client.Config>
      <setting name="BaseUri" serializeAs="String">
        <value>http://staging.api.saasu.com/</value>
      </setting>
      <setting name="WsAccessKey" serializeAs="String">
        <value>0912CC7B3EC14DD2B478EF579E8E798C</value>
      </setting>
      <setting name="FileUid" serializeAs="String">
        <value>14081</value>
      </setting>
    </Saasu.API.Client.Config>-->
	  <Saasu.API.Client.Config>
		  <setting name="BaseUri" serializeAs="String">
			  <value>http://localhost:8080/</value>
		  </setting>
		  <setting name="WsAccessKey" serializeAs="String">
			  <value>6BDA7A35A84542848105A76EDD902347</value>
		  </setting>
		  <setting name="FileUid" serializeAs="String">
			  <value>5</value>
		  </setting>
      <setting name="IgnoreSSLErrors" serializeAs="String">
        <value>false</value>
      </setting>
    </Saasu.API.Client.Config>
  </applicationSettings>
	<ola.restclient>
		<proxySettings>
	<!--Live - DO NOT CHANGE 
			<add key="baseUri" value="https://secure.saasu.com/webservices/rest/r1/" />
			<add key="wsAccessKey" value="186124C739FD44BCBDA759E06CE9801D" />
			<add key="fileUid" value="1697" /> 
			<add key="apiUserEmailAddress" value="api@saasu.com" />
			<add key="MerchantFeeAccountUid" value="10839" />
			<add key="IncTaxTemplateUid" value="62576" />
			<add key="ShippingTemplateUid" value="31984" />

			 STAGING - DO NOT CHANGE

			<add key="baseUri" value="https://staging.secure.saasu.com/webservices/rest/r1/" />
			<add key="wsAccessKey" value="186124C739FD44BCBDA759E06CE9801D" />
			<add key="fileUid" value="1697" />
			<add key="apiUserEmailAddress" value="api@saasu.com" />
			<add key="MerchantFeeAccountUid" value="10839" />
			<add key="IncTaxTemplateUid" value="62576" />
			<add key="ShippingTemplateUid" value="31984" />

			 CI Build Server Environment 
			  <add key="baseUri" value="http://build-01:8080/DevelopmentBranch/RestClient/" />	
			<add key="wsAccessKey" value="BEF2-C26A-3347-4EB1-8166-D4D2-A80E-75A3" />
			<add key="fileUid" value="2" />
			<add key="apiUserEmailAddress" value="api@saasu.com" />
			<add key="MerchantFeeAccountUid" value="299047" />
			<add key="IncTaxTemplateUid" value="154252" />
			<add key="ShippingTemplateUid" value="154249" />-->

			<add key="baseUri" value="http://localhost:8081/" />
			<add key="wsAccessKey" value="6BDA7A35A84542848105A76EDD902347" />
			<add key="fileUid" value="5" />
			<add key="MerchantFeeAccountUid" value="299015" />
		<add key="baseUri" value="https://secure.saasu.com/webservices/rest/r1/" /><add key="wsAccessKey" value="{your-access-key-here}" /><add key="fileUid" value="{your-file-id}" /></proxySettings>
	</ola.restclient>
  <appSettings>
    <add key="FileUid" value="5" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  </configuration>