<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <applicationSettings>
    <Saasu.API.Client.Config xdt:Transform="Replace">
      <setting name="BaseUri" serializeAs="String">
        <value>http://localhost:8080/defaultApi/</value>
      </setting>
      <setting name="WsAccessKey" serializeAs="String">
        <value>186124C739FD44BCBDA759E06CE9801D</value>
      </setting>
      <setting name="FileUid" serializeAs="String">
        <value>5</value>
      </setting>
    </Saasu.API.Client.Config>
  </applicationSettings>
  <appSettings>
    <add key="NUnitTests.Email.From" value="service@saasu.com" xdt:Transform="Insert"/>
    <add key="NUnitTests.Email.To" value="test@saasu.com" xdt:Transform="Insert"/>
  </appSettings>
</configuration>